<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.panlab.software.fstoolkit.preferences.FSToolkitPreferencePage"
            class="org.panlab.software.fstoolkit.plc.preferences.PlanetLabPreferencePage"
            id="org.panlab.software.fstoolkit.plc.preferencepage"
            name="PlanetLab">
      </page>
   </extension>
   <extension
         point="org.panlab.software.fstoolkit.extensionpoint.officerepository">
      <OfficeRepository
            class="org.panlab.software.fstoolkit.plc.PLCRepository"></OfficeRepository>
   </extension>
   <extension
         point="org.panlab.software.fstoolkit.provisionresource">
      <provisionresource
            class="org.panlab.software.fstoolkit.plc.ProvisionResource">
      </provisionresource>
   </extension>

</plugin>
