<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.upatras.gr/ece/wcl/radl2/Radl" 
       class = "gr.upatras.ece.wcl.radl2.radl.RadlPackage"
       genModel = "gr/upatras/ece/wcl/radl2/Radl.genmodel" /> 
	
  </extension>





</plugin>
