<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://nam.ece.upatras.gr/broker"
            class="brokermodel.BrokermodelPackage"
            genModel="model/Broker.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="brokermodel"
            class="brokermodel.util.BrokermodelResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://nam.ece.upatras.gr/broker/model/users"
            class="brokermodel.users.UsersPackage"
            genModel="model/Broker.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="users"
            class="brokermodel.users.util.UsersResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://nam.ece.upatras.gr/broker/model/resources"
            class="brokermodel.resources.ResourcesPackage"
            genModel="model/Broker.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="resources"
            class="brokermodel.resources.util.ResourcesResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://nam.ece.upatras.gr/broker/model/networkelements"
            class="brokermodel.networkelements.NetworkelementsPackage"
            genModel="model/Broker.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="networkelements"
            class="brokermodel.networkelements.util.NetworkelementsResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://nam.ece.upatras.gr/broker/model/providersite"
            class="brokermodel.providersite.ProvidersitePackage"
            genModel="model/Broker.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="providersite"
            class="brokermodel.providersite.util.ProvidersiteResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://nam.ece.upatras.gr/broker/model/slareservations"
            class="brokermodel.slareservations.SlareservationsPackage"
            genModel="model/Broker.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="slareservations"
            class="brokermodel.slareservations.util.SlareservationsResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://nam.ece.upatras.gr/broker/model/federationscenarios"
            class="brokermodel.federationscenarios.FederationscenariosPackage"
            genModel="model/Broker.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="federationscenarios"
            class="brokermodel.federationscenarios.util.FederationscenariosResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://nam.ece.upatras.gr/broker/model/services"
            class="brokermodel.services.ServicesPackage"
            genModel="model/Broker.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="services"
            class="brokermodel.services.util.ServicesResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://nam.ece.upatras.gr/broker/model/availabilitycontract"
            class="brokermodel.availabilityContract.AvailabilityContractPackage"
            genModel="model/Broker.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="availabilitycontract"
            class="brokermodel.availabilityContract.util.AvailabilityContractResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://nam.ece.upatras.gr/broker/model/uiObjects"
            class="brokermodel.uiObjects.UiObjectsPackage"
            genModel="model/Broker.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="uiobjects"
            class="brokermodel.uiObjects.util.UiObjectsResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://nam.ece.upatras.gr/broker/model/experimentRuntime"
            class="brokermodel.experimentRuntime.ExperimentRuntimePackage"
            genModel="model/Broker.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="experimentruntime"
            class="brokermodel.experimentRuntime.util.ExperimentRuntimeResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://nam.ece.upatras.gr/broker/model/extensionInterfaces"
            class="brokermodel.extensionInterfaces.ExtensionInterfacesPackage"
            genModel="model/Broker.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="extensioninterfaces"
            class="brokermodel.extensionInterfaces.util.ExtensionInterfacesResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://nam.ece.upatras.gr/broker/model/FCIElements"
            class="brokermodel.fcielements.FcielementsPackage"
            genModel="model/Broker.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="fcielements"
            class="brokermodel.fcielements.util.FcielementsResourceFactoryImpl"/>
   </extension>

</plugin>
