<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.panlab.software.fstoolkit.extensionpoint.workflowengine" name="WorkflowEngine" schema="schema/org.panlab.software.fstoolkit.extensionpoint.workflowengine.exsd"/>
   <extension-point id="org.panlab.software.fstoolkit.extensionpoint.officerepository" name="OfficeRepository" schema="schema/org.panlab.software.fstoolkit.extensionpoint.officerepository.exsd"/>
   <extension-point id="org.panlab.software.fstoolkit.extensionpoint.provisioningjoblistener" name="Provisioning Job Listener" schema="schema/org.panlab.software.fstoolkit.extensionpoint.provisioningjoblistener.exsd"/>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.panlab.software.fstoolkit.FSDefinitionPerspectiveFactory"
            icon="icons/16x16_fstoolkit.gif"
            id="org.panlab.software.fstoolkit.FSDefinitionPerspective"
            name="FS Definition">
      </perspective>
      <perspective
            class="org.panlab.software.fstoolkit.FSOperationPerspectiveFactory"
            icon="icons/16x16_fstoolkit.gif"
            id="org.panlab.software.fstoolkit.FSOperationPerspective"
            name="FS Operation">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.panlab.software.fstoolkit.preferences.FSToolkitPreferencePage"
            id="org.panlab.software.fstoolkit.preferences.FSToolkitPreferencePage"
            name="FSToolkit">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.panlab.software.fstoolkit.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.panlab.software.fstoolkit.views"
            name="Panlab FSToolkit">
      </category>
      <view
            category="org.panlab.software.fstoolkit.views"
            class="org.panlab.software.fstoolkit.views.FSDLView.OfferedServicesView"
            icon="icons/16x16_fstoolkit.gif"
            id="org.panlab.software.fstoolkit.views.OfferedServicesView"
            name="Offered Services"
            restorable="true">
      </view>
      <view
            category="org.panlab.software.fstoolkit.views"
            class="org.panlab.software.fstoolkit.views.FSDLView.ScenariosView"
            icon="icons/16x16_fstoolkit.gif"
            id="org.panlab.software.fstoolkit.views.ScenariosView"
            name="Scenarios"
            restorable="true">
      </view>
      <view
            category="org.panlab.software.fstoolkit.views"
            class="org.panlab.software.fstoolkit.views.FSDLView.RunningScenariosView"
            icon="icons/16x16_fstoolkit.gif"
            id="org.panlab.software.fstoolkit.views.RunningScenariosView"
            name="Running Scenarios"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.panlab.software.fstoolkit.views.ControlResourceView"
            icon="icons/16x16_fstoolkit.gif"
            id="org.panlab.software.fstoolkit.views.ControlResourceView"
            name="Control Resource"
            restorable="false">
      </view>
      <view
            class="org.panlab.software.fstoolkit.views.ResourceMapView"
            icon="icons/16x16_fstoolkit.gif"
            id="org.panlab.software.fstoolkit.views.ResourceMapView"
            name="Resources Map"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>



   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.panlab.software.fstoolkit.views.OfferedServicesView"
            labelProvider="org.panlab.software.fstoolkit.providerAdapters.OfferedServicesTabbedPropertiesLabelProvider">
         <propertyCategory
               category="FSToolkitCategory"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.panlab.software.fstoolkit.views.OfferedServicesView">
         <propertyTab
               category="FSToolkitCategory"
               id="org.panlab.software.fstoolkit.propertyTab1"
               image="icons/16x16_fstoolkit.gif"
               label="Element">
         </propertyTab>
         <propertyTab
               afterTab="org.panlab.software.fstoolkit.propertyTab1"
               category="FSToolkitCategory"
               id="org.panlab.software.fstoolkit.propertyTab2"
               image="icons/16x16_fstoolkit.gif"
               label="Advanced">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.panlab.software.fstoolkit.views.OfferedServicesView">
         <propertySection
               class="org.panlab.software.fstoolkit.views.FSDLView.OfferedServicesTabbedElementSection"
               id="org.panlab.software.fstoolkit.propertySection1"
               tab="org.panlab.software.fstoolkit.propertyTab1">
            <input
                  type="FederationOffice.uiObjects.ui_TaxonomyTreeItem">
            </input>
         </propertySection>
         <propertySection
               class="org.panlab.software.fstoolkit.views.FSDLView.OfferedServicesTabbedAdvancedPropertySection"
               id="org.panlab.software.fstoolkit.propertySection2"
               tab="org.panlab.software.fstoolkit.propertyTab2">
            <input
                  type="FederationOffice.uiObjects.ui_TaxonomyTreeItem">
            </input>
            <input
                  type="FederationOffice.NamedElement">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.panlab.software.fstoolkit.commands.ResourceAdvisorCommand"
            name="ResourceAdvisorCommand">
      </command>
      <command
            id="org.panlab.software.fstoolkit.commands.SubmitFSRequest"
            name="Submit Scenario">
      </command>
      <command
            id="org.panlab.software.fstoolkit.commands.Connect2ExperimentCommand"
            name="Connect2Experiment">
      </command>
      <command
            id="org.panlab.software.fstoolkit.commands.ToolbarDropDown"
            name="FSToolkit">
      </command>
      <command
            id="org.panlab.software.fstoolkit.commands.ShutDownScenario"
            name="Shut Down Scenario">
      </command>
      <command
            id="org.panlab.software.fstoolkit.commands.ShutDownResource"
            name="Shut Down Resource">
      </command>
      <command
            id="org.panlab.software.fstoolkit.commands.DeleteRunningScenario"
            name="Delete Scenario from View">
      </command>
      <command
            id="org.panlab.software.fstoolkit.commands.RefreshRunningScenario"
            name="Refresh Running Scenarios">
      </command>
      <command
            id="org.panlab.software.fstoolkit.commands.ControlScenarioResources"
            name="Control Resource(s)">
      </command>
      <command
            id="org.panlab.software.fstoolkit.commands.AttachScenarioResource"
            name="Attach Resource">
      </command>
      <command
            id="org.panlab.software.fstoolkit.commands.ShowResourcesMap"
            name="Resources Map">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.panlab.software.fstoolkit.FSToolkitToolbar"
               label="FSToolkit Toolbar">
            <command
                  commandId="org.panlab.software.fstoolkit.commands.ToolbarDropDown"
                  id="org.panlab.software.fstoolkit.commands.ToolbarDropDown"
                  style="pulldown"
                  tooltip="FSToolkit commands">
            </command>
            <command
                  commandId="org.panlab.software.fstoolkit.commands.SubmitFSRequest"
                  style="push"
                  tooltip="Submit the defined Scenario requesting resources by Requested Infrastructure section">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.panlab.software.FSToolkitMenu"
               label="FSToolkit">
            <command
                  commandId="org.panlab.software.fstoolkit.commands.ResourceAdvisorCommand"
                  label="Resource Advisor"
                  style="push"
                  tooltip="Open the Resource Advisor Window">
            </command>
            <command
                  commandId="org.panlab.software.fstoolkit.commands.SubmitFSRequest"
                  style="push"
                  tooltip="Submit the defined Scenario requesting resources by Requested Infrastructure section">
            </command>
            <separator
                  name="org.panlab.software.fstoolkit.separator2">
            </separator>
            <command
                  commandId="org.panlab.software.fstoolkit.commands.ShutDownScenario"
                  style="push"
                  tooltip="Shut Down Scenario and release resources">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.panlab.software.fstoolkit.commands.ToolbarDropDown">
         <command
               commandId="org.panlab.software.fstoolkit.commands.ResourceAdvisorCommand"
               label="Resource Advisor"
               mode="FORCE_TEXT"
               style="push"
               tooltip="Open the Resource Advisor Window">
         </command>
         <command
               commandId="org.panlab.software.fstoolkit.commands.SubmitFSRequest"
               mode="FORCE_TEXT"
               style="push"
               tooltip="Submit the defined Scenario requesting resources by Requested Infrastructure section">
         </command>
         <separator
               name="additions"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.panlab.software.fstoolkit.views.RunningScenariosView?before=additions">
         <command
               commandId="org.panlab.software.fstoolkit.commands.RefreshRunningScenario"
               style="push"
               tooltip="Refresh Running Scenarios from your Offices">
         </command>
         <command
               commandId="org.panlab.software.fstoolkit.commands.ControlScenarioResources"
               style="push">
         </command>
         <command
               commandId="org.panlab.software.fstoolkit.commands.AttachScenarioResource"
               style="push">
         </command>
         <command
               commandId="org.panlab.software.fstoolkit.commands.ShutDownResource"
               style="push"
               tooltip="Shut down resource">
         </command>
         <command
               commandId="org.panlab.software.fstoolkit.commands.ShutDownScenario"
               style="push"
               tooltip="Shut Down Scenario and release resources">
         </command>
         <command
               commandId="org.panlab.software.fstoolkit.commands.DeleteRunningScenario"
               style="push"
               tooltip="Delete a scenario from repository">
         </command>
         <command
               commandId="org.panlab.software.fstoolkit.commands.ShowResourcesMap"
               style="push"
               tooltip="Show resources in a map">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.panlab.software.fstoolkit.views.RunningScenariosView?before=additions">
         <command
               commandId="org.panlab.software.fstoolkit.commands.RefreshRunningScenario"
               style="push">
         </command>
         <command
               commandId="org.panlab.software.fstoolkit.commands.ControlScenarioResources"
               style="push">
         </command>
         <command
               commandId="org.panlab.software.fstoolkit.commands.AttachScenarioResource"
               style="push">
         </command>
         <command
               commandId="org.panlab.software.fstoolkit.commands.ShutDownResource"
               style="push"
               tooltip="Shut down resource">
         </command>
         <command
               commandId="org.panlab.software.fstoolkit.commands.ShutDownScenario"
               style="push"
               tooltip="Shut Down Scenario and release resources">
         </command>
         <command
               commandId="org.panlab.software.fstoolkit.commands.DeleteRunningScenario"
               style="push">
         </command>
         <command
               commandId="org.panlab.software.fstoolkit.commands.ShowResourcesMap"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.panlab.software.fstoolkit.views.RunningScenariosView">
         <command
               commandId="org.panlab.software.fstoolkit.commands.RefreshRunningScenario"
               style="push">
         </command>
         <command
               commandId="org.panlab.software.fstoolkit.commands.ControlScenarioResources"
               style="push">
         </command>
         <command
               commandId="org.panlab.software.fstoolkit.commands.AttachScenarioResource"
               style="push">
         </command>
         <command
               commandId="org.panlab.software.fstoolkit.commands.ShutDownResource"
               style="push"
               tooltip="Shut down resource">
         </command>
         <command
               commandId="org.panlab.software.fstoolkit.commands.ShutDownScenario"
               style="push"
               tooltip="Shut Down Scenario and release resources">
         </command>
         <command
               commandId="org.panlab.software.fstoolkit.commands.DeleteRunningScenario"
               style="push">
         </command>
         <command
               commandId="org.panlab.software.fstoolkit.commands.ShowResourcesMap"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.panlab.software.fstoolkit.commands.ResourceAdvisorCommand"
            commandId="org.panlab.software.fstoolkit.commands.ResourceAdvisorCommand">
         <enabledWhen>
            <reference
                  definitionId="org.panlab.software.fsdl2.FSDL.Editor.opened">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="org.panlab.software.fstoolkit.commands.SubmitFSRequestCommand"
            commandId="org.panlab.software.fstoolkit.commands.SubmitFSRequest">
         <enabledWhen>
            <reference
                  definitionId="org.panlab.software.fsdl2.FSDL.Editor.opened">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="org.panlab.software.fstoolkit.commands.Connect2ExperimentCommand"
            commandId="org.panlab.software.fstoolkit.commands.Connect2ExperimentCommand">
         <enabledWhen>
            <reference
                  definitionId="org.panlab.software.fsdl2.FSDL.Editor.opened">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="org.panlab.software.fstoolkit.commands.ToolbarDropDown"
            commandId="org.panlab.software.fstoolkit.commands.ToolbarDropDown">
         <enabledWhen>
            <or>
               <reference
                     definitionId="org.panlab.software.fsdl2.FSDL.Editor.opened">
               </reference>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="org.panlab.software.fstoolkit.commands.ShutDownScenarioCommand"
            commandId="org.panlab.software.fstoolkit.commands.ShutDownScenario">
         <enabledWhen>
            <reference
                  definitionId="runningScenariosSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="org.panlab.software.fstoolkit.commands.DeleteRunningScenarioCommand"
            commandId="org.panlab.software.fstoolkit.commands.DeleteRunningScenario">
         <enabledWhen>
            <reference
                  definitionId="runningScenariosSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="org.panlab.software.fstoolkit.commands.RefreshRunningScenarioCommand"
            commandId="org.panlab.software.fstoolkit.commands.RefreshRunningScenario">
      </handler>
      <handler
            class="org.panlab.software.fstoolkit.commands.ControlScenarioResourcesCommand"
            commandId="org.panlab.software.fstoolkit.commands.ControlScenarioResources">
         <enabledWhen>
            <reference
                  definitionId="org.panlab.software.fstoolkit.resourceRequestORresourceGroupSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="org.panlab.software.fstoolkit.commands.AttachScenarioResourceCommand"
            commandId="org.panlab.software.fstoolkit.commands.AttachScenarioResource">
         <enabledWhen>
            <reference
                  definitionId="runningScenariosSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="org.panlab.software.fstoolkit.commands.ShutDownResourceCommand"
            commandId="org.panlab.software.fstoolkit.commands.ShutDownResource">
         <enabledWhen>
            <reference
                  definitionId="org.panlab.software.fstoolkit.resourceRequestSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="org.panlab.software.fstoolkit.commands.ShowResourcesMap"
            commandId="org.panlab.software.fstoolkit.commands.ShowResourcesMap">
         <enabledWhen>
            <reference
                  definitionId="runningScenariosSelected">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.panlab.software.fstoolkit.commands.ResourceAdvisorCommand"
            icon="icons/ResourceAdvisor.gif">
      </image>
      <image
            commandId="org.panlab.software.fstoolkit.commands.SubmitFSRequest"
            icon="icons/SubmitVTdefinition.gif">
      </image>
      <image
            commandId="org.panlab.software.fstoolkit.commands.ShutDownScenario"
            icon="icons/TearDownRunningScenarios.gif">
      </image>
      <image
            commandId="org.panlab.software.fstoolkit.commands.ToolbarDropDown"
            icon="icons/16x16_fstoolkit.gif">
      </image>
      <image
            commandId="org.panlab.software.fstoolkit.commands.DeleteRunningScenario"
            icon="icons/DeleteRunningScenario.gif">
      </image>
      <image
            commandId="org.panlab.software.fstoolkit.commands.RefreshRunningScenario"
            icon="icons/UpdateRunningScenarios.gif">
      </image>
      <image
            commandId="org.panlab.software.fstoolkit.commands.ControlScenarioResources"
            icon="icons/ControlResource.gif">
      </image>
      <image
            commandId="org.panlab.software.fstoolkit.commands.AttachScenarioResource"
            icon="icons/Connect2Experiment.gif">
      </image>
      <image
            commandId="org.panlab.software.fstoolkit.commands.ShutDownResource"
            icon="icons/16x16_fstoolkit.gif">
      </image>
      <image
            commandId="org.panlab.software.fstoolkit.commands.ShowResourcesMap"
            icon="icons/resourcesMap.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.panlab.software.fstoolkit.views.RunningScenariosView"
            labelProvider="org.panlab.software.fstoolkit.providerAdapters.RunningScenariosTabbedPropertiesLabelProvider">
         <propertyCategory
               category="FSToolkitRunningScenariosCategory"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.panlab.software.fstoolkit.views.RunningScenariosView">
         <propertyTab
               category="FSToolkitRunningScenariosCategory"
               id="org.panlab.software.fstoolkit.views.RunningScenariosView.ElementTab"
               image="icons/16x16_fstoolkit.gif"
               label="Element">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.panlab.software.fstoolkit.views.RunningScenariosView">
         <propertySection
               class="org.panlab.software.fstoolkit.views.FSDLView.RunningScenariosTabbedElementSection"
               id="org.panlab.software.fstoolkit.views.RunningScenariosView.ElementTab.propertySection1"
               tab="org.panlab.software.fstoolkit.views.RunningScenariosView.ElementTab">
            <input
                  type="FederationOffice.uiObjects.ui_TaxonomyTreeItem">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.panlab.software.fstoolkit.commands.CheckScenariosSelectedProperty"
            id="org.panlab.software.fstoolkit.commands.CheckScenariosSelectedProperty"
            namespace="org.panlab.software.fstoolkit.propertyTestersNameSpace"
            properties="isSelectedScenarios"
            type="FederationOffice.uiObjects.ui_TaxonomyTreeItem">
      </propertyTester>
      <propertyTester
            class="org.panlab.software.fstoolkit.commands.CheckScenariosSelectedProperty"
            id="org.panlab.software.fstoolkit.commands.CheckResourceRequestSelectedProperty"
            namespace="org.panlab.software.fstoolkit.propertyTestersNameSpace"
            properties="isSelectedResourceRequest"
            type="FederationOffice.uiObjects.ui_TaxonomyTreeItem">
      </propertyTester>
      <propertyTester
            class="org.panlab.software.fstoolkit.commands.CheckScenariosSelectedProperty"
            id="org.panlab.software.fstoolkit.commands.CheckResourceGroupSelectedProperty"
            namespace="org.panlab.software.fstoolkit.propertyTestersNameSpace"
            properties="isSelectedResourceGroup"
            type="FederationOffice.uiObjects.ui_TaxonomyTreeItem">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="runningScenariosSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <test
                     property="org.panlab.software.fstoolkit.propertyTestersNameSpace.isSelectedScenarios">
               </test></iterate>
         </with>
      </definition>
      <definition
            id="org.panlab.software.fstoolkit.resourceRequestSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <test
                     property="org.panlab.software.fstoolkit.propertyTestersNameSpace.isSelectedResourceRequest">
               </test>
            </iterate>
         </with>
      </definition>
      <definition
            id="org.panlab.software.fstoolkit.resourceRequestGroup">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <test
                     property="org.panlab.software.fstoolkit.propertyTestersNameSpace.isSelectedResourceGroup">
               </test>
            </iterate>
         </with>
      </definition>
      <definition
            id="org.panlab.software.fstoolkit.resourceRequestORresourceGroupSelected">
         <with
               variable="selection">
            <iterate>
               <or>
                  <test
                        property="org.panlab.software.fstoolkit.propertyTestersNameSpace.isSelectedResourceRequest">
                  </test>
                  <test
                        property="org.panlab.software.fstoolkit.propertyTestersNameSpace.isSelectedResourceGroup">
                  </test>
               </or></iterate>
         </with>
      </definition>
   </extension>
</plugin>
