<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="gr.upatras.ece.nam.fstoolkit.preferences.FSToolkitPreferencePage"
            class="gr.upatras.ece.nam.fstoolkit.uop.preferences.UoPPreferencePage"
            id="gr.upatras.ece.nam.fstoolkit.uop.preferencepage"
            name="UoP">
      </page>
   </extension>
   <extension
         point="gr.upatras.ece.nam.fstoolkit.provisionresource">
      <provisionresource
            class="gr.upatras.ece.nam.fstoolkit.uop.ProvisionResource">
      </provisionresource>
   </extension>
   <extension
         point="gr.upatras.ece.nam.fstoolkit.extensionpoint.officerepository">
      <OfficeRepository
            class="gr.upatras.ece.nam.fstoolkit.uop.UoPRepository">
      </OfficeRepository>
   </extension>

</plugin>
